<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>econvRBP:An improved ensemble Convolutional Neural Networks For RNA Binding Protein Prediction</title>
</head>
<body>
<!-- Header -->

<table border="0" width="100%" cellspacing="0" cellpadding="0" bgcolor="#00ffff">
  <tr>
    <td width="100%" bgcolor="#99ccff"><h1><center>econvRBP: Convolutional neural networks for RNA binding protein</center></h1></td>
  </tr>
</table>
<!-- START OF MENU TABLE -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
  <tr>
    <td width="20%" valign="top">
      <table border="0" width="200" cellspacing="0" cellpadding="6" bgcolor="#E4E4E4">
        <tr>
          <td width="20%">&nbsp;</td>
          <td width="80%">&nbsp;</td>
        </tr>
        <tr>
          <td width="20%" align="center">
            <p align="center"></p>
          </td>
          <td width="80%">
            <p align="left"><a href="/home.html"><font size='4px'>Home</font></a></p>
          </td>
        </tr>
        <tr>
          <td width="20%" align="center"></td>
          <td width="80%"><p align="left"><a href="/submission.html"><font size='4px'>Submission</a></p>
          </td>
        </tr>
        <tr>
          <td width="20%" align="center"></td>
          <td width="80%"><p align="left"><a href="/help.html"><font size='4px'>Help</font></a></p>
          </td>
        </tr>
        <tr>
          <td width="20%" align="center"></td>
          <td width="80%"><p align="left"><a href="/developers.html"><font size='4px'>Developers</font></a></p>
          </td>
        </tr>
        <tr>
          <td width="20%" align="center">&nbsp;</td>
          <td width="80%">&nbsp;</td>
        </tr>
        <tr>
          <td width="20%">
            <p align="center">&nbsp;</p>
          </td>
          <td width="80%">&nbsp;</td>
        </tr>
        <tr>
          <td width="20%">&nbsp;</td>
          <td width="80%">&nbsp;</td>
        </tr>
        <tr>
          <td width="20%">&nbsp;
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</td>
          <td width="80%">&nbsp;</td>
        </tr>
      </table><!-- END OF MENU TABLE -->
    </td>
    <td width="60%" valign="top">&nbsp;<br><br>
<p ALIGN = "CENTER"><font size='+2'><b>What is the econvRBP?</b></font></h3>
<FONT SIZE='3px'>
<HR ALIGN ="CENTER"> </HR>
      <P style="margin-left: 10px; margin-right: 40; margin-top: 10px" ALIGN='JUSTIFY'><font size='3px'>econvRBP is a free webserver for biologist, which can provides a friendly and concise interface for researchers, and has guiding significance for experimental methods.</font></p>
<p ALIGN = "CENTER"><font size='+2'><b>How do econvRBP predict RBPs?</b></font></h3>
<FONT SIZE='3px'>
<HR ALIGN ="CENTER"> </HR>
      <P style="margin-left: 10px; margin-right: 40; margin-top: 10px" ALIGN='JUSTIFY'><font size='3px'>You need to submit the ".fasta" file to server, and we will automatically extract the features from the submitted sequence and send them to the convolutional neural network-based predictor and return the results to you.</font></p>
<p ALIGN = "CENTER"><font size='+2'><b>Caution</b></font></h3>
<FONT SIZE='3px'>
<HR ALIGN ="CENTER"> </HR>
      <P style="margin-left: 10px; margin-right: 40; margin-top: 10px" ALIGN='JUSTIFY'><font size='3px'>Please read our help carefully before you use the server, otherwise we cannot guarantee that the feedback to you is correct.</font></p>
</body>
</html>
